<div class="container">
  <div class="row">
    <app-product class="col-md-3 col-sm-6" *ngFor="let product of productList$|async"
                 [book]="product"
    > </app-product>
  </div>
</div>
