<div class="card">
  <img src="https://avatanplus.com/files/resources/original/57469d6015277154ebd6bf57.png"
       class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">{{book.Title}}</h5>
    <p class="card-text">{{book.Description}}</p>
  </div>
</div>
